


*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
*{
	line-height:2;
}

body{
	font-family: 'Varela Round', sans-serif;
	color:#666;
}

